.fileMenu {
  padding: 10px 0px 16px;

  background: #ffffff;
  /* mdc-elevation--z5 */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 8px rgba(0, 0, 0, 0.14),
    0px 1px 14px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.menuHeader {
  padding: 0;
  margin: 12px 0px 6px 22px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-feature-settings: "cpsp" on;

  color: #000000;
}

.menuItem {
  box-sizing: border-box;
  padding: 12px 22px;

  width: 236px;
  height: 42px;

  background: none;
  border: none;
  outline: none;
}

.menuItem:global(.rc-menu__item--disabled) {
  color: rgba(0, 0, 0, 0.38);
  fill: rgba(0, 0, 0, 0.38);
}

.menuItem:not(:global(.rc-menu__item--disabled)) {
  fill: rgba(0, 0, 0, 0.87);
}

.menuItem:hover:not(:global(.rc-menu__item--disabled	)) {
  background: #efefef;
}

.menuItem:focus-visible {
  outline: #2196f3 solid 2px;
}

.menuIcon {
  width: 20px;
  height: 20px;
}

.menuItemText {
  margin-left: 16px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
