.fileMenu {
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  height: 140px;
  left: 22px;

  padding-top: 16px;

  background: #ffffff;
  /* mdc-elevation--z3 */
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.14),
    0px 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;

  clip-path: circle(0% at bottom 0 left 0);
  transition: clip-path 0.05s ease-in-out;
}

.fileMenuOpen {
  clip-path: circle(150% at bottom 0 left 0);
}

.menuSection {
  position: absolute;
  width: 100%;

  padding-top: 6px;
}

.menuHeader {
  position: relative;
  height: 15px;
  margin-left: 22px;
  margin-bottom: 3px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-feature-settings: "cpsp" on;

  color: #000000;
}

.menuList {
  position: relative;
  display: flex;
  width: 100%;

  flex-direction: column;
}

.menuItem {
  position: relative;
  width: 100%;
  height: 42px;

  background: #fff;
  border: 0;
  outline: none;
}

.menuItem:hover {
  background: #efefef;
}

.menuItem:focus-visible {
  outline: #2196f3 solid 2px;
}

.menuIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 22px;
  top: 11px;
}

.menuItemText {
  position: absolute;
  height: 19px;
  left: 55px;
  top: 10px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}
