.zoomButtonDiv {
  position: absolute;
  width: 32px;
  height: 64px;

  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.14),
    0px 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

/*.zoomButtonDiv:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}*/

.zoomButton {
  position: absolute !important; /* to override OSD element styles :( */
  width: 32px;
  height: 32px;

  background: transparent;
  border: none;
}

.zoomButton:hover {
  background: #f6f6f6;
}

.zoomButton:focus-visible {
  outline: #2196f3 solid 2px;
}

.zoomButton:active {
  transition: background 0.1s ease;
  background: #dfdfdf;
}

.zoomButton svg {
  fill: #555;
}

.zoomButton:hover svg {
  fill: #111;
}

.zoomButton:active svg {
  fill: #000;
}

.zoomInButton {
  position: absolute;
  width: 32px;
  height: 33px;
  top: 0px;
  border-radius: 8px 8px 0px 0px;
}

.zoomOutButton {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 0px;
  border-radius: 0px 0px 8px 8px;
}

.line {
  position: absolute;
  width: 21px;
  height: 1px;
  left: 6px;
  top: 32px;

  background: #dcdcdc;
  border: none;
}

.zoomButtonIcon {
  position: absolute;
  left: calc(50% - 24px / 2);
  width: 24px;
  height: 24px;
}

.zoomInButtonIcon {
  top: 4px;
}

.zoomOutButtonIcon {
  bottom: 3px;
}
