@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: rgba(0, 0, 0, 0.87);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.openseadragon-container {
  background: #e5e5e5 !important; /* override OSD styles */
  z-index: -1;
}

h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.navigator {
  border: 0 !important; /* override OSD styles */
}

.ReactModal__Content {
  margin: 22px;
}

.ReactModal__Content:focus {
  /* do not visually show focus on modal */
  outline: initial;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
